{% extends 'base.html' %}
{% load static %}

{% block title %}Leafroute{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'theme/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="homepage-wrapper">
    <div class="homepage-container">
        <div class="welcome-text">
            <h1>Welcome to <img src="{% static 'theme/img/logo-white2.png' %}" alt="Leafroute Logo" class="logo"></h1>
            <p>The route to sustainable logistics.</p>
            <a href="{% url 'public:about' %}" class="btn">Learn More</a>
        </div>
    </div>
</div>
{% endblock %}