{% load static %}
<div class="navbar">
    <a href="{% url 'public:index' %}"><img src="{% static 'theme/img/logo-dark2.png' %}" alt="Logo" class="logo"/></a>
    <button class="hamburger-menu" onclick="toggleSidebar()">☰</button>
    <div class="auth-navbar">
        {% if user.is_authenticated %}
            <span>{{ user.first_name }} {{ user.last_name }}</span>
            <img src="{% static 'theme/img/user_navbar_icon.png' %}" alt="User icon" class="logo"/>
            <form method="post" action="{% url 'account:logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        {% else %}
            <span class="login-link">
                <a href="{% url 'account:login' %}" class="nav-link {% if request.resolver_match.url_name == 'login' %}active-link{% endif %}">Login</a>
            </span>
        {% endif %}
    </div>
</div>

<div id="sidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleSidebar()">&times;</a>
    <a href="{% url 'public:index' %}" class="nav-link {% if request.resolver_match.url_name == 'index' %}active-link{% endif %}">Home</a>
    <a href="{% url 'public:about' %}" class="nav-link {% if request.resolver_match.url_name == 'about' %}active-link{% endif %}">About</a>
    <a href="{% url 'public:contact' %}" class="nav-link {% if request.resolver_match.url_name == 'contact' %}active-link{% endif %}">Contact</a>
</div>