/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url("../img/beautiful-mountain-landscape.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

/* About Page Container */
.about-container {
    max-width: 50rem;
    margin: 3.125rem auto;
    padding: 1.25rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Heading Styles */
.about-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    color: #FFEBE0;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.7);
}

/* Paragraph Styles */
.about-container p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1.25rem;
    color: #ddd;
    text-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.5); 
}

.about-container a {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1.25rem; 
    color: #ddd;
    text-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.5); 
}

/* Responsive Design */
@media (max-width: 48rem) {
    .about-container {
        padding: 0.9375rem;
    }

    .about-container h1 {
        font-size: 2rem;
    }

    .about-container p {
        font-size: 1rem;
    }
}