body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url("../img/beautiful-mountain-landscape.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.homepage-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 31.25rem;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
}


.welcome-text h1 {
    font-size: 2.5rem;
    margin: 0.625rem 0;
    color: #FFF;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.7);
}

.welcome-text p {
    font-size: 1.2rem;
    margin: 0.625rem 0 1.25rem;
    color: #ddd;
    text-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.5);
}

.welcome-text .logo {
    max-width: 15.625rem;
    width: 100%;
    height: auto;
    margin: 0 0 0.9375rem 0;
    vertical-align: middle;
}

.welcome-text .btn {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    background-color: #38a028;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
}

.welcome-text .btn:hover {
    background-color: #2d7f20;
}

@media (max-width: 48rem) {
    .welcome-text h1 {
        font-size: 2rem;
    }

    .welcome-text p {
        font-size: 1rem;
    }

    .welcome-text .logo {
        max-width: 12.5rem;
    }
}