body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url("../img/beautiful-mountain-landscape.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.homepage-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 500px;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.welcome-text h1 {
    font-size: 2.5rem;
    margin: 10px 0;
    color: #FFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.welcome-text p {
    font-size: 1.2rem;
    margin: 10px 0 20px;
    color: #ddd;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Logo Styles */
.welcome-text .logo {
    max-width: 250px;
    width: 100%;
    height: auto;
    margin: 0 0 15px 0px; 
    vertical-align: middle;
}

/* Button Styles */
.welcome-text .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #38a028;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.welcome-text .btn:hover {
    background-color: #2d7f20;
}

/* Responsive Design */
@media (max-width: 768px) {
    .welcome-text h1 {
        font-size: 2rem;
    }

    .welcome-text p {
        font-size: 1rem;
    }

    .welcome-text .logo {
        max-width: 200px;
    }
}