/* General Navbar Styles */
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0.625rem 1.25rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.navbar .logo {
    height: 1.875rem;
    margin-left: 0.625rem; 
}

.auth-navbar {
    display: flex;
    align-items: center;
    gap: 0.9375rem; 
    margin-left: auto;
}


/* Hamburger Menu */
.hamburger-menu {
    font-size: 1.25rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 0.625rem; 
}

/* Shared link styles for navbar login and sidebar links */
.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    display: block;
    padding: 0.625rem 0.9375rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #17ad00e1;
}

.active-link {
    color: #17ad00e1;
}

/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 3.75rem;
}

.sidebar a {
    display: block;
}

.sidebar .closebtn {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    font-size: 2.25rem;
    color: #ddd;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ddd;
    min-width: 6.25rem;
    box-shadow: 0rem 0.5rem 1rem rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    z-index: 1000;
    padding: 0.5rem 0;
}

.dropdown-content form button {
    display: block;
    width: 100%;
    padding: 0.625rem 0.9375rem;
    text-align: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 0.875rem; 
}

.dropdown-content a:hover,
.dropdown-content form button:hover {
    background-color: #17ad00e1;
}

.dropdown.show .dropdown-content {
    display: block;
}

.user-icon {
    width: 2.1875rem; 
    height: 2.1875rem; 
    border-radius: 50%;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 48rem) {
    .navbar {
        flex-wrap: wrap;
        text-align: center;
    }

    .navbar img {
        margin-bottom: 0.625rem;
    }

    .navbar span {
        margin: 0.3125rem 0;
    }

    .navbar span[style="float:right"] {
        margin-left: 0;
        justify-content: center;
    }
}