/* General Navbar Styles */
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.navbar .logo {
    height: 30px;
    margin-left: 10px;
}

.auth-navbar {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}


/* Hamburger Menu */
.hamburger-menu {
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;}

/* Shared link styles for navbar login and sidebar links */
.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px; /* match sidebar */
    display: block;
    padding: 10px 15px; /* match sidebar */
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #17ad00e1;
}

.active-link {
    color: #17ad00e1;
}

/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidebar a {
    display: block;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    color: #ddd;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ddd;
    min-width: 100px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: 1000;
    padding: 8px 0;
}

.dropdown-content form button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-content a:hover,
.dropdown-content form button:hover {
    background-color: #17ad00e1;
}

.dropdown.show .dropdown-content {
    display: block;
}

.user-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

/* Responsive Design 
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap; 
        text-align: center;
    }

    .navbar img {
        margin-bottom: 10px;
    }

    .navbar span {
        margin: 5px 0;
    }

    .navbar span[style="float:right"] {
        margin-left: 0;
        justify-content: center;
    }
}*/