{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'theme/css/editdata.css' %}?v=3">
{% endblock %}


{% block content %}
<h1>Fuvar befejezése</h1>
    <form method="post">
        {% csrf_token %}
        <div class="create-card">
                <form method="post" class="form">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.fuel_consumed.label_tag }}
                        {{ form.fuel_consumed }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Fuvar befejezése</button>
                    <a href="{% url 'internal:shipments' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div> 
    </form>
{% endblock %}  