{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'theme/css/editdata.css' %}?v=3">
{% endblock %}


{% block content %}
<h1>Raktár szerkesztése</h1>
<form method="post">
    {% csrf_token %}
    <div class="create-card">
    <form method="post" class="form">
        {% csrf_token %}
        <h4>Raktár adatai</h4>
        <div class="form-group">
            {{ form.capacity.label_tag }}
            {{ form.capacity }}
        </div>
        <div class="form-group">
            {{ form.fullness.label_tag }}
            {{ form.fullness }}
        </div>
        <div class="form-group">
            {{ form.contact_email.label_tag }}
            {{ form.contact_email }}
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{% url 'internal:warehouse_settings' %}" class="btn btn-secondary">Cancel</a>
    </form>
    </div>
</form>
{% endblock %}  